$black: #2f3234;
$yellow: #f9b43b;
$orange: #e45028;

$gagalin: 'GagalinRegular';
$lifehack: 'Lifehack-Medium';

$z-fixed-menu: 100;

@mixin transform {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}


@import "./layout/normalize.scss";
@import "./layout/fonts.scss";
@import "./layout/base.scss";

@import "./block/section.scss";
@import "./block/welcome.scss";
@import "./block/header.scss";
@import "./block/menu.scss";
@import "./block/btn.scss";
@import "./block/title.scss";
@import "./block/scroll-down-btn.scss";
@import "./block/best.scss";
@import "./block/reviews.scss";
@import "./block/team.scss";
@import "./block/scrolls.scss";