$black: #2f3234;
$yellow: #f9b43b;
$orange: #e45028;

$gagalin: 'GagalinRegular';
$lifehack: 'Lifehack-Medium';

$z-fixed-menu: 100;

@mixin transform {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}


@import "./css/layout/normalize.scss";
@import "./css/layout/fonts.scss";
@import "./css/layout/base.scss"; 

@import "./css/block/section.scss";
@import "./css/block/welcome.scss";
@import "./css/block/header.scss";
@import "./css/block/menu.scss";
@import "./css/block/btn.scss";
@import "./css/block/title.scss";
@import "./css/block/scroll-down-btn.scss";
@import "./css/block/best.scss";
@import "./css/block/reviews.scss";
@import "./css/block/scrolls.scss";