.button-burger {
   display: none;
   position: relative;
   width: rem(24px);
   height: rem(20px);
   margin-left: rem(20px);
   
   @include tablets {
      display: block;
   }
}

.button-burger__list {
   position: absolute;
   top: 0;
   right: 0;
   background-color: #fff;
   width: rem(24px);
   height: rem(4px);
   border-radius: rem(2px);

   &:before {
      content: "";
      width: rem(24px);
      height: rem(4px);
      border-radius: rem(2px);
      position: absolute;
      background: #fff;
      top: rem(8px);
      right: 0;
  }

   &:after {
      content: "";
      width: rem(24px);
      height: rem(4px);
      border-radius: rem(2px);
      position: absolute;
      background: #fff;
      top: rem(16px);
      right: 0;
   }
}