.menu{
   display: flex;
   font-family: 'Ubuntu-Medium';

   @include phone {
    align-items: center;
   }

   @include tablets {
    align-items: center;
   }
}

.menu__list {
   display: flex;
   align-items: center;
   margin-right: rem(15px);

   @include tablets {
      display: none;
   }
}

.menu__item{
   display: flex;
   align-items: center;
   margin-right: rem(16px);

   &:before{ 
      content: "";
      width: rem(4px);
      height: rem(4px);
      background: #fff;
      border-radius: 50%;
      display: block;
      margin-right: rem(16px);
   }

   &:first-child {
      &::before{
         display: none;
      }
   }

   &:last-child {
      margin-right: 0;
   }
}

.menu__link{
   color: white;
   text-decoration: none;
   text-transform: uppercase;
   font-size: rem(13px);
}