.vk {
   width: rem(23px);
   height: rem(13px);
   fill: #2f3234;
}

.fb,.inst{
   width: rem(20px);
   height: rem(20px);
   fill: #2f3234;
}

.tw {
   width: rem(20px);
   height: rem(16px);
   fill: #2f3234;
}
 
.social {
   display: flex;
   align-items: center;
}

.social__block {
   margin-right: rem(20px);
   width: 25px;
   height: 25px;
   display: flex;
   align-items: center;

   &:last-child {
      margin-right: 0;
   }
}

.social__block-link:hover >svg{
   fill: #fff;
   transition: .5s ease-in-out;
}