.team {
   background: url('./img/team/team-bg.jpg')center center / cover no-repeat;
}

.team__block{
   position: absolute;
   display: flex;
   background: #444646;
   opacity: 0.95;
   right: 0;
   top: 0;
   bottom: 0;
   left: 50%;

   @include tablets {
      left: 0;
   }
}

.team__content {
   display: flex;
   flex-direction: column; 
   padding: 20% 18% 10%;

   @include tablets {
      text-align: center;
      width: 100%;
   }

   @include phone {
      padding: 40% 18% 10%;
   }

   @include phone-x {
      padding: 40% 11% 20%;
   }

   @include phone-se {
      padding: 10% 11% 20%;
   }
}

