.burgers {
   height: 100vh;
   background-image: linear-gradient(#f9b43b,#eb8c38,#f9b43b);
   position: relative;
   overflow: auto;
}

.container__burgers {
   height: 100%;
   justify-content: center;
   align-items: center;
   overflow: hidden;
}

.burgers__block {
   display: flex;
   position: relative;
   width: 100%;

   @include tablets {
      max-width: 90%;
      padding: 0 3%;
   }

   @include phone {
      padding: 0 1%;
   }

   @include phone-se {
      padding: 0 10%;
   }
}

.burger__content-list {
   width: 100%;
   display: flex;
   overflow: hidden;
}

.burger__content-item {
   display: flex;
   min-width: 100%;
   align-items: center;
   overflow: hidden;

   @include tablets {
      flex-direction: column;
      text-align: center;
      justify-content: center;
      padding: 0;
      max-width: 70%;
   }
}

.burgers__pic {
   min-width: 50%;
   max-height: 100%;
   max-width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;

   @include tablets {
      height: 50%;
      margin-bottom: rem(15px);
   }

   @include phone {
      height: 40%;
   }

   @include phone-x {
      height: 30%;
      margin-bottom: 0;
   }
}

.burgers__img {
   max-width: 100%;

   @include tablets {
      max-width: 80%;
   }
}

.burgers__content {
   max-width: 50%;

   @include tablets {
      max-width: 100%;
   }
}

.burger__button {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.burger__button--block {
   position: absolute;
   width: rem(90px);
   height: rem(90px);
   border-radius: rem(5px);
   background-color: #f08c33;
   left: rem(24px);
   top: rem(-45px);

   @include tablets {
      top: rem(-55px);
      left: rem(68px);
   }

   @include phone {
      top: rem(-40px);
      left: 0;
   }

   @include phone-x {
      top: rem(-30px);
      left: 0;
   }

   @include phone-se {
      top: 0;
      left: 0;
   }

   &:hover {
      background-color: #e35028;
      transition: 0.5s;

      + .composition{
         opacity: 1;
         transition: 0.5s;
      }
   }
}

.burger{
   width: rem(46px);
   height: rem(56px);
}

.burger__button--kkal {
   width: rem(90px);
   height: rem(90px);
   position: absolute;
   left: rem(10px);
   bottom: rem(-78px);
   opacity: 0.7;

   @include tablets {
      top: rem(-62px);
      left: inherit;
      right: rem(59px);
   }

   @include phone {
      display: none;
   }
}

.kkal {
   width: rem(60px);
   height: rem(60px);
   position: relative;
}

.burger__item-info {
   position: absolute;
   font-family: $gagalin;
   font-size: rem(20px);
}

.burger__item-title{
   text-transform: uppercase;
   font-family: $gagalin;
   font-size: rem(14px);
   font-weight: 100;
}

.burger-icon {
   width: rem(46px);
   height: rem(44px);
}

.burgers__text {
   margin-bottom: rem(20px);

   @include tablets {
      margin-bottom: rem(35px);
   }

   @include phone {
      margin-bottom: rem(20px);
   }

   @include phone-se {
      margin-bottom: rem(10px);
   }

   & >p{
   line-height: 1.71;
   }
}

.burgers__order {
   display: flex;
   align-items: flex-end;

   @include tablets {
      justify-content: center;
   }
}

.burgers__price {
   color: $red;
   font-size: rem(72px);
   font-family: $gagalin;
   line-height: 0.93;
   margin-right: rem(5px);

   @include phone {
      font-size: rem(45px);
   }

   @include phone-se {
      font-size: rem(35px);
   }
}

.burgers__price-rub {
   color: $red;
   font-size: rem(30px);
   font-family: $gagalin;
   margin-right: rem(28px);
   letter-spacing: rem(-0.75px);
   
   @include phone {
      font-size: rem(22px);
   }

   @include phone-se {
      font-size: rem(15px);
   }
} 

.burgers__slider {
   display: flex;
   justify-content: space-between;
   width: 100%;
   max-width: rem(1050px);
   top: 50%;
   position: absolute;
}


.burgers__scroll-left {
   transform: rotate(90deg);
}

.burgers__scroll {
   width: rem(29px);
   height: rem(16px);
}

.burgers__scroll-right {
   transform: rotate(-90deg);
}

