.composition {
   position: absolute;
   background: rgba(232, 233, 235, 0.9);
   border-radius: rem(5px);
   padding: rem(20px);
   top: rem(-45px);
   left: rem(115px);
   color: #2f3234;
   font-family: 'Ubuntu-Medium';
   font-weight: 500;
   min-width: 28%;
   opacity: 0;

   @include tablets {
      top: rem(-85px);
      left: rem(212px);
      min-width: 45%;
   }

   @include phone {
      top: rem(-87px);
      left: rem(90px);
      min-width: 77%;
   }

   @include phone-x {
      top: -40px;
      left: 90px;
      min-width: 74%;
   }

   @include phone-se {
      top: 0px;
      left: 90px;
      min-width: 71%;
   }
}

.composition__item {
   display: flex;
   align-items: center;
   margin-bottom: rem(6px);
}

.composition__pic {
   margin-right: rem(22px);
}

.composition__img {
   width: rem(44px);
   height: rem(39px);
}

.composition__item-cont {
   display: flex;
   width: 100%;
   justify-content: space-between;

   @include tablets {
      width: 58%;
   }

   @include phone {
      width: 49%;
   }
}

.close{
   position: absolute;
   z-index: 1;
   top: 4px;
   right: 0;
   width: 53px;
   height: 55px;
   cursor: pointer;
   display: none;

   @include tablets {
      display: block;
   }
}

.close:before,
.close:after {
   content: "";
   position: absolute;
   top: 21px;
   left: 10px;
   width: 26px;
   height: 4px;
   border-radius: 5px;
   background: #e35028;
}

.close:before {
   webkit-transform: rotate(45deg);
   transform: rotate(45deg);
}

.close:after {
   webkit-transform: rotate(-45deg);
   transform: rotate(-45deg);
}