.description{
   background: url('../../img/tho__section/bg.jpg') center center;
   background-size: cover;
   height: 100vh;
   color: rgba(47, 50, 52, 0.8);
}

.description__content{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 100%;
}

.description__list{
   display: flex;
   margin-top: 55px;
   width: 90%;
}

.description__item{
   display: flex;
   align-items: center;
   flex-direction: column;
   width: 35%;
   text-align: center;
   padding: 0 10px;
}

.description__title{
   font-family: 'GagalinRegular';
  font-size: 72.5px;
  font-weight: 500;
}

.description__item-logo{
   margin-bottom: 33px;
}

.description__item-title{
   margin-bottom: 25px;
   font-family: 'Lifehack-Medium';
   font-size: 24px;
   font-weight: 500;
}

.description__item-text{
   font-size: 14px;
   font-weight: 300;
}

.description__item-logo-1{
   height: 89px;
}