.header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-top: rem(8px);

   @include phone {
      padding: 0 3%;
      padding-top: rem(8px);
   }
}

.header__buttons{
   display: flex;
   align-items: center;
}

.header__logo{
   width: rem(92px);
   height: rem(69px);
   margin-right: rem(20px);
}