
.scroolls__menu{
   position: fixed;
   top: 95px;
   right: 53px;
   z-index: z-fixed-menu;
}

.scrolls__item {
   &--active {
      .scrolls__link {
         border-color: #fff;
      }
   }

   &:hover{
      .scrolls__link {
         border-color: #fff;
      }
   }
}


.scrolls__link{
   width: 16px;
   height: 16px;
   border-radius: 50%;
   border: 1px solid transparent;
   margin-bottom: 3px;
   position: relative;

  
   &::before {
      content: "";
      @include transform;
      width: 7px;
      height: 7px;
      background: #fff;
      border-radius: 50%;
   }

   &:last-child{
      margin-bottom: 0;
   }
}

   