
.scroolls__menu{
   position: fixed;
   top: rem(95px);
   right: rem(53px);
   z-index: z-fixed-menu;

   @include tablets {
      display: none;
   }
}

.scrolls__item {
   &--active {
      .scrolls__link {
         border-color: #fff;
      }
   }

   &:hover{
      .scrolls__link {
         border-color: #fff;
      }
   }
}


.scrolls__link{
   width: rem(16px);
   height: rem(16px);
   border-radius: 50%;
   border: rem(1px) solid transparent;
   margin-bottom: rem(3px);
   position: relative;

  
   &::before {
      content: "";
      @include transform;
      width: rem(7px);
      height: rem(7px);
      background: #fff;
      border-radius: 50%;
   }

   &:last-child{
      margin-bottom: 0;
   }
}

   