.scroll-down-btn{
   width: 29px;
   height: 14px;
   background: url('../img/header/arrow-scroll.png') center center / contain no-repeat;
   display: block;
   position: absolute;
   bottom: 0;
   bottom: 20px;
   left: 50%;
   transform: translate(-50%);
}