section{
   height: 100%;
   min-height: 650px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   position: relative;

   @include phone-se {
      min-height: inherit;
   }

   &--no--centered {
      justify-content: flex-start;
   }
}