$black: #2f3234;
$yellow: #f9b43b;
$orange: #e45028;
$red: #e45028;
$green: #8BC03F;

$gagalin: 'GagalinRegular';
$lifehack: 'Lifehack-Medium';

$z-fixed-menu: 100;

@mixin transform {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
}

@function rem($px) {
   @return $px / 14px + 0rem; 
}

@mixin tablets {
   @media screen and (max-width: 768px) {
      @content;
   }
}

@mixin phone {
   @media screen and (max-width: 480px) {
      @content;
   }
}

@mixin phone-x {
   @media screen and (max-width: 375px) {
      @content;
   }
}

@mixin phone-se {
   @media screen and (max-width: 320px) {
      @content;
   }
}

@mixin min-h {
   @media screen and (min-height: 650px) {
      @content;
   }
}


@import "./layout/normalize.scss";
@import "./layout/fonts.scss";
@import "./layout/base.scss";


@import "./block/*.scss";
