.close{
   position: absolute;
   z-index: 1;
   top: rem(4px);
   right: 0;
   width: rem(45px);
   height: rem(55px);
   cursor: pointer;
   display: none;

   @include tablets {
      display: block;
   }
}

.close:before,
.close:after {
   content: "";
   position: absolute;
   top: rem(21px);
   left: rem(10px);
   width: rem(26px);
   height: rem(4px);
   border-radius: rem(5px);
   background: #e35028;
}

.close:before {
   webkit-transform: rotate(45deg);
   transform: rotate(45deg);
}

.close:after {
   webkit-transform: rotate(-45deg);
   transform: rotate(-45deg);
}

.fullscreen__close {
   position: relative;
   z-index: 1;
   right: rem(8px);
   top: rem(10px);
   width: rem(25px);
   height: rem(21px);
   cursor: pointer;
}

.fullscreen__close:before,
.fullscreen__close:after {
   content: "";
   position: absolute;
   top: rem(21px);
   left: rem(10px);
   width: rem(26px);
   height: rem(4px);
   border-radius: rem(5px);
   background: #ffffff;
   opacity: 0.7;
}

.fullscreen__close:before {
   webkit-transform: rotate(45deg);
   transform: rotate(45deg);
}

.fullscreen__close:after {
   webkit-transform: rotate(-45deg);
   transform: rotate(-45deg);
}

.options__close {
   z-index: 2;
   display: none;
}

.options__close:before,
.options__close:after {
   background: #ffffff;
   opacity: 0.7;
}

.popup__close, .form__close {
   display: block;
}

.form__close {
   width: rem(30px);
   height: rem(30px);
}

.form__close:before,
.form__close:after {
   width: rem(20px);
   top: 10px;
   left: 6px;
}
