.footer{
   background: url('./img/contacts/footer-bg.png');
   background-color: black;
   width: 100%;
   position: absolute;
   bottom: 0;

   @include phone {
      height: rem(100px);
      display: flex;
   }
}

.footer__content {
   display: flex;
   justify-content: space-between;
   height: 100%;

   @include phone {
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }
}

.footer__left{
   @include phone {
      align-items: center;
      margin-bottom: rem(15px);
   }
}

.footer__right {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   width: 50%;

   @include phone {
      justify-content: center;
   }
}

.footer__contacts {
   display: flex;
   align-items: center;

   @include phone {
      justify-content: center;
   }
}

.footer__link {
   font-family: 'UbuntuB';
   color: $orange;
   font-weight: 300;
   text-decoration: none;
}

.phone {
   width: rem(12px);
   height: rem(11px);
   fill: $orange;
   margin-right: rem(10px);
}